<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('includes/head', {title: "Editar Motorista"}) %>
  </head>
  <body>
    <header><%- include('includes/header') %></header>
    <main>
      <h1>Editando <%= motorista.firstName %></h1>

      <form
        action="/motoristas/<%= motorista._id %>/edit"
        method="POST"
        id="add_row_form"
      >
        <label for="firstName">Nome do Motorista</label>
        <input
          type="text"
          value="<%= motorista.firstName %>"
          name="firstName"
          id="firstName"
        />
        <label for="surname">Sobrenome</label>
        <input
          type="text"
          value="<%= motorista.surname %>"
          name="surname"
          id="surname"
        />

        <div id="buttons">
          <button type="submit">Enviar</button>
        </div>
      </form>
    </main>
    <footer><%- include ('includes/footer') %></footer>
  </body>
</html>
