<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('includes/head', {title: "Editar Setor"}) %>
  </head>
  <body>
    <header><%- include('includes/header') %></header>
    <main>
      <h1>Editando <%= setor.name %></h1>

      <form
        action="/setores/<%= setor._id %>/edit"
        method="POST"
        id="add_row_form"
      >
        <label for="name">Nome do Setor</label>
        <input
          type="text"
          value="<%= setor.name %>"
          name="name"
          id="name"
          required
          minlength="4"
        />
        <label for="abv">Abreviação</label>
        <input
          type="text"
          value="<%= setor.abv %>"
          name="abv"
          id="abv"
          required
          min="2"
        />

        <div id="buttons">
          <button type="submit">Enviar</button>
        </div>
      </form>
    </main>
    <footer><%- include ('includes/footer') %></footer>
  </body>
</html>
