<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('includes/head', {title: "Setores"}) %>
    <script src="/script/tabela.js" defer></script>
  </head>
  <body>
    <header>
      <!--  -->
      <%- include('includes/header') %>
      <!--  -->
      <link rel="stylesheet" href="/styles/modal-conf.css" />
    </header>
    <div id="backdrop"></div>
    <main>
      <h1>Controle de Setor</h1>
      <table>
        <thead>
          <th>
            <a href="#" class="material-icons button edit white-icon"
              >table_chart</a
            >
          </th>
          <th>Setores Cadastrados</th>
          <th>
            <i id="add" class="btn_add material-icons button delete">add</i>
          </th>
        </thead>
        <tr>
          <th>Abreviação</th>
          <th>Nome do setor</th>
        </tr>

        <% for (setor of setores) { %>
        <!--  -->
        <tr>
          <td><%= setor.abv %></td>
          <td><%= setor.name %></td>
          <td>
            <form action="/setores/<%= setor._id %>/delete" method="POST">
              <a
                href="/setores/<%= setor._id%>/edit"
                class="material-icons button edit"
                >edit</a
              >

              <button
                type="submit"
                class="material-icons button delete"
                id="delete-button"
                onClick="return confirmSubmit()"
              >
                delete
              </button>
            </form>
          </td>
        </tr>
        <!--  -->
        <% }%>
      </table>

      <section id="add_form">
        <form action="/setores" method="POST" id="add_row_form" class="modal">
          <label for="name">Nome completo do Setor</label>
          <input type="text" minlength="4" name="name" id="name" required />
          <label for="abv">Abreviação</label>
          <input
            type="text"
            minlength="3"
            maxlength="5"
            id="abv"
            name="abv"
            required
          />

          <div id="buttons">
            <button type="submit">Enviar</button>
            <button type="reset">Resetar</button>
            <button type="button" id="cancel_btn">Cancelar</button>
          </div>
        </form>
      </section>
    </main>
    <footer><%- include ('includes/footer') %></footer>
  </body>
</html>
